@{   
    ViewBag.Title = "P.T.S-Admin|商標基本資料管理";
    ViewBag.Catalog = "商標案件管理";
    ViewBag.CurrentPage = "付款查詢"; 
}


@section style {
    @Styles.Render("~/Scripts/plugins/BootstrapTable/bootstrap-table.min.css")

    <!-- iCheck -->
    @Styles.Render("~/Scripts/plugins/iCheck/all.css")

    <style>
        .table-demo {
            width: 80%;
            margin: 30px auto 0px auto;
        }
        .fixed-table-header {
            border-right: solid 1px #ddd;
            border-top: solid 1px #ddd;
        }
            .fixed-table-header table  {
                border-top: solid 0px #ddd !important;
                margin-top:-1px;
            }
    </style>
}

@section js {
    @Scripts.Render("~/Scripts/plugins/BootstrapTable/bootstrap-table.min.js")
    @Scripts.Render("~/Scripts/plugins/BootstrapTable/bootstrap-table-locale-all.min.js")

    <!-- iCheck -->
    @Scripts.Render("~/Scripts/plugins/iCheck/icheck.min.js")

    @Scripts.Render("~/Scripts/UserDefined/TrademarkInfo_TrademarkFee.js")
}


<div class="container-fluid" id="BodyContent">
    <div class="card">
        <div class="card-body">
            <!--Master Start-->
            @* <div class="card mb-0">
            <div class="card-body mb-0">

                <!--Search Area Start-->
                <div class="row">
                    <div class="col-8">
                        <div class="form-inline mt-1 mb-1">

                            <select class="form-control" id="select1">
                                <option>申請人名稱</option>
                                <option>身份證/統編</option>
                                <option>地址</option>
                                <option>4</option>
                            </select>
                            <input type="text" class="form-control" style="width: 60%" placeholder="Value">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optradio">And</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>

                <div class="row">
                    <div class="col-8">
                        <div class="form-inline mt-1 mb-1">
                            <select class="form-control" id="select2">
                                <option>申請人名稱</option>
                                <option>身份證/統編</option>
                                <option>地址</option>
                                <option>4</option>
                            </select>
                            <input type="text" class="form-control" style="width: 60%" placeholder="Value">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optradio">Or</label>
                            </div>
                            <div class="ml-5">
                             <button id="btnAddYearFees" type="button" class="btn btn-success">
                            <i class="glyphicon glyphicon-plus"></i>Search
                        </button>
                                </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>*@

            <!--Search Area End-->
            <!--table Area Start-->
            <div class="input-group col-sm-8">
                <input type="text" class="form-control" id="txtTrademarkNo" placeholder="輸入事務所案號 ..." size="40" />
                <input type="text" class="form-control" id="txtTrademarkName" placeholder="輸入商標名稱..." size="60" />
                <button title="查詢" id="btnSearch" type="button" class="btn btn-success onclickbtn">
                    <i class="fa fa-search onclickbtni"></i>
                </button>
            </div>

            <table id="table" data-show-columns="true" data-click-to-select="true" data-single-select="true" data-id-field="FeeKey"
                   data-show-toggle="true" data-sort-name="TrademarkNo" data-sort-order="asc" 
                   data-toolbar="#toolbar">
                <thead>
                    <tr>
                        <th data-field="SelectState" data-radio="true"></th>
                        <th data-field="FeeKey" data-visible="false" data-switchable="false"></th>
                        <th data-field="TrademarkNo" data-sortable="true">事務所案號</th>
                        <th data-field="TrademarkName" data-sortable="true" data-align="left">商標名稱</th>
                        <th data-field="FeeSubject" data-sortable="true">費用內容</th>
                        <th data-field="FeePhase" data-sortable="true" data-align="center">費用種類</th>
                        <th data-field="ReceiptDate" data-align="center" data-sortable="true" data-formatter="ReceiptDateFormatter">收據日期</th>
                        <th data-field="PayDate" data-align="center" data-sortable="true" data-formatter="PayDateFormatter">收款日期</th>
                        <th data-field="PPP" title="請款單號" data-align="center">請款單號</th>
                        <th data-field="PracticalityPay" title="實際收款" data-align="center">實際收款</th>
                        <th data-field="Creator" data-visible="false" data-sortable="true" data-formatter="CreateDateTimeFormatter">建立者/建立時間</th>
                        <th data-field="LastModifyWorker" data-visible="false" data-sortable="true" data-formatter="LastModifyDateTimeFormatter">修改者/修改時間</th>
                    </tr>
                </thead>
            </table>

            <!--table Area End-->
            <!--Master End-->
            <!-- ======================= -->
            <!--Detail Start-->
            @*<div class="row">
            <div class="col-md-12 placeholder">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#">申請人附加資料</a></li>
                    <li role="presentation"><a href="#">聯絡人</a></li>
                    <li role="presentation"><a href="#">發明人</a></li>
                    <li role="presentation"><a href="#">來往記錄</a></li>
                </ul>
            </div>
        </div>*@
            <!--Detail End-->
            @*<div class="row">
            <div class="col-md-12 placeholder">
                <div class="box box-success direct-chat direct-chat-success">
                </div>
            </div>
        </div>*@
            <!-- ======================= -->
        </div>
    </div>
</div>
